<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{App.Name}} Default Site</title>
		<link rel="stylesheet" type="text/css" href="/ui/static/main.css" />
	</head>
	<body>
		<header>
			<ul>
		{{range $url, $module := App.Modules}}
				<li>
					<a href="{{$url}}">{{$module.Name}}</a>
					{{range $u, $unit := $module.Units}}
						<a href="{{$u}}">{{$unit.Name}}</a>
					{{end}}
				</li>
		{{end}}
			</ul>
		</header>
		<main>{{template "main.html"}}</main>
		<footer>{{template "footer.html"}}</footer>
	</body>
</html>
